/* global */
body {
  font-size: 15px;
}

a, button {
  cursor: pointer;
}

.container {
  max-width: 500px;
  margin: auto;
}

/* 문제페이지 */

.question-board {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px; 
}
.question-text {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}
.question-board__time, .question-board__score {
  font-size: 24px;
  font-weight: 700;
}
.game-control {
  text-align: center;
}
.game-control__button {
  background-color: #47a1f8;
  border: 0px;
  padding: 12px 72px;
  margin: auto;
  color: white;
}

.game-control__input {
  display: block;
  min-width: 180px;
  background-color: #47a1f8;
  border: 0px;
  border-radius: 12px;
  padding: 12px;
  margin: auto;
  margin-bottom: 18px;
  color: white;
  text-align: center;
}
.game-control__input::placeholder {
  color: white;
}
.game-control__input:focus::placeholder {
  opacity: 0;
}
::-webkit-input-placeholder, 
:-moz-placeholder, /* Firefox 18- */
::-moz-placeholder, /* Firefox 19+ */
:-ms-input-placeholder {  
  text-align: center; 
  color: white
}

/* 완료 페이지 */

.complete-banner {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.point-banner {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}
.average-time-banner-wrapper {
  text-align: center;
}
.average-time-banner {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}
